body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
  font-family: Helvetica, Arial, "Luxi Sans", sans-serif;
}
#topbar {
	background: #3d57b5;
	width     : 100%;
	color     : white;
	min-height: 30px;
}
#topbar #logo {
	margin-top: 5px;
	margin-left: 10px;
	float:left;
}
#topbar #logo a{
	font-size: 14pt;
	font-weight:bold;
	color     : white;
	text-decoration: none;
}

#topbar #menu {
	float: right;
	margin-top: 5px;
}

#topbar #menu a, #topbar #menu span {
	color     : black;
	text-decoration: none;
}

#user-stuff {
	width: 100%;
	background: #1a2019;
	color: white;
	min-height: 25px;
	font-size: 9pt;
}

#search-bar {
	background: #282c27;
	min-height: 72px;
	font-size: small;
	color: white;
}
#search-form {
	vertical-align:middle;

}
/* Syle the search button. Settings of line-height, font-size, text-indent used to hide submit value in IE */
#search {
  height:37px;
	width:70px;
	color: white;
	background: url("/media/static/ico-search.png") no-repeat scroll center center #282c27;
	line-height:0;
  font-size:0;
  text-indent:-999px;
  color: transparent;  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#search-input {
	border-width: 1px 1px;
	border-style: solid;
	border-color: grey;
	background:white;
	width:100%;
	max-width:500px;
	float:right;
}
#id_q {
	border:none;
	font-size:large;
	width:100%;
}
#id_models {
	font-size:18px;
}
div#inner-content {
	width:70%;margin-left:auto; margin-right:auto;
}
#content {
	position:relative; clear:left;
	height:500px; width:90%; max-width:800px; min-width:400px;
	margin:0 auto;
}
#content>div {
	margin: auto;
}
#content>#top-spacer {
	width:100%;
	height:35%;
}
#content #middle	{
	clear:both; 
	height:240px; 
	position:relative;
}
#floater {
	position:relative; float:left;
	height:50%;	margin-bottom:-200px;
	width:1px;
}

#search-bar #basket-summary {
	margin-left:10px;
	margin-top:5px;
	background:#282c27;
	border-color:orange;
	border-style:solid;
	float:left;
	border-collapse:separate;
	border-spacing: 5px;
	-moz-border-radius: 0px 20px;
	border-radius:0px 20px;
}
.basket-icon { 
		display: table-cell;
		height: 35px;
		width: 35px;
		text-align: center;
		vertical-align: middle;
		text-decoration:none;
		color: white;
}
#footprint-icon {
		background-image: url("/media/static/footprint-icon.png");
}
#component-icon {
		background-image: url("/media/static/component-icon.png");
}

