
	<div id="basket-summary" style="">
			<div style="margin:3px;float:left;">
				<a href="/basket/" class="basket-icon" id="component-icon">{{components}}</a>
			</div>
			<div style="margin:3px;float:left;">
				<a href="/basket/" class="basket-icon" id="footprint-icon">{{footprints}}</a>
			</div>
			<div style="background-image:url('/media/static/basket-icon.png');height:48px;width:48px;margin:3px;margin-right:5px;float:left;">
			</div>
	</div>
	<!--<a id="basket-arrow" href="/basket/">
	<p>
	<a href="/basket/">
		<span class="number">{{ components }}</span> component{{cplural}} and <span class="number">{{ footprints }}</span> footprint{{fplural}}
	</a>
	</p>

					<img src="/media/static/footprint-icon.png" ></img>
		<table style="margin-left:auto;margin-right:auto;margin-top:auto;">
			<th style="height:10px"></th>
		<tr>
			<td>
				{{ components }}
			</td>
			<td>
				component{{cplural}}
			</td>
		</tr>
		<tr>
			<td>
				{{ footprints }}
			</td>
			<td>
				footprint{{fplural}}
			</td>
		</tr>
	</table></a>

-->

{# vim: set ft=htmldjango.html: #}


