{% extends "base.html" %}

{% block content %}
<div id="top-spacer"></div>
<div id="inner-content">
	<p>Welcome to the <a href="http://www.kicad-pcb.org">Kicad EDA</a> User Repository.</p>
	<p>The orange box at the top left is your "basket" of components and footprints you would like to download. KiUR will merge these into single files for you.</p>
	<p> If you would like to submit, maintain, vote or comment on and flag problems with components and footprints you will need to <a href="/register/">register.</a></p>
	<center><img src="/media/static/component-black-icon.png"></img>
		<img src="/media/static/footprint-black-icon.png"></img></center>
</div>
{% endblock %}

{# vim: set ft=htmldjango.html : #} 
