{% extends "base.html" %}

{% block content %}
<div id="top-spacer"></div>
<div style="width:70%;margin-left:auto; margin-right:auto;" >
	<p>Welcome to the <a href="http://www.kicad-pcb.org">Kicad EDA</a> User Repository.</p>
	<p>The box with the down arrow at the top right is your "basket" of packages you would like to download. KiUR will merge all your selections into single library files for you.</p>
	<p> If you would like to submit, maintain, comment on and flag problems with packages you will need to <a href="/register/">register.</a></p>
</div>
{% endblock %}

{# vim: set ft=htmldjango.html : #} 
