{% extends "base.html" %}
{% load libmods_extras %}
{% load highlight %}
{% load thumbnail %}

{% block title %}
{% if query %}
{{ query }} - 
{% endif %}
{% endblock %}


{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
		//get the basket in case of back/forward button
		$.ajax({
			type:"GET",
			url:"/modify_basket/",
			success: function(response) {
				if (response.success) {
					$("#component-icon").html(response.libs);
					$("#footprint-icon").html(response.mods);
				}
				else {
					alert("A database problem occured querying the basket! Please contact the administrator.");
				}
			}});
		//modify basket on toggle buttons
		$(".modify_basket").submit(function(e) {
			var dataString = $(this).serialize();
			$.ajax({
				type:"POST",
				url:"/modify_basket/",
				data:dataString,
				success: function(response) {
					console.log(response.name);
					if (response.success) {
						$("#component-icon").html(response.libs);
						$("#footprint-icon").html(response.mods);
						//should really make sure it's toggled the right way
						//$(".modify_basket").find("input[value='"+response.name+"']").each( function() {
						//	if($(this).parent().find("input[value='"+response._type+"']")){
						//		$(this).prop("checked", response.in_basket);
						//	}
						//		});
					}	
					else {
						alert("A database problem occured changing the basket! Please contact the administrator.");
					}
				}
			});
			return false;
		});
	});
</script>
<h3>Results</h3>
<form method="post" action="/modify_basket/" class="modify_basket">
	{% csrf_token %}
	<input type="text" name="test" />
	<input type="checkbox" onclick="$(this).closest('form').submit();"/>
</form>
{{ models }}
<table border=1>
{% for result in page.object_list %}
	<tr>
		<td>
			 <form method="post" class="modify_basket" action="/modify_basket/"> 
				 <input type="hidden" name="_type" value="{{ result.object|to_class_name }}" />
				 <input type="hidden" name="libmod" value="{{ result.object.name }}" />
				{% csrf_token %}
				<input type="checkbox" {% if result.object in basket %} checked {% endif %} onclick="$(this).closest('form').submit();"/>
			</form>
		</td>
		<td>
			{% if result.object|to_class_name == "Component" %}
			<a href="/components/{{ result.object.name|iriencode }}">
			{% else %}
			<a href="/footprints/{{ result.object.name|iriencode }}">
			{% endif %}
				<img src="{% thumbnail component.image|default:"static/placeholder.png" 30x30 %}" alt="{{ result.object.name }} thumbnail" /></a>
		</td>
		<td>
			{% if result.object|to_class_name == "Component" %}
			<a href="/components/{{ result.object.name|iriencode }}">{{ result.object.name }}</a>
			{% else %}
			<a href="/footprints/{{ result.object.name|iriencode }}">{{ result.object.name }}</a>
			{% endif %}
		</td>
		<td>
			{{ result.object.description }}
		</td>

	</tr>
{% empty %}
<p>No results found.</p>
{% endfor %}
<table>

{% if page.has_previous or page.has_next %}
<div>
	{% if page.has_previous %}<a href="?q={{ query }}&amp;models={{ models }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
	|
	{% if page.has_next %}<a href="?q={{ query }}&amp;models={{ models }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
</div>
{% endif %}
{% endblock %}
{# vim: set ft=htmldjango.html : #} 
