{% extends "base.html" %}
{% load libmods_extras %}
{% load highlight %}
{% load thumbnail %}

{% block title %}
{% if query %}
{{ query }} - 
{% endif %}
{% endblock %}


{% block content %}
<h3>Results</h3>
{{ models }}
<table border=1>
{% for result in page.object_list %}
	<tr>
		<td>
			 <form method="post" class="modify_basket" action="/modify_basket/"> 
				 <input type="hidden" name="_type" value="{{ result.object|to_class_name }}" />
				 <input type="hidden" name="libmod" value="{{ result.object.name }}" />
				{% csrf_token %}
				<input type="checkbox" {% if result.object in basket %} checked {% endif %} onclick="$(this).closest('form').submit();"/>
			</form>
		</td>
		<td>
			{% if result.object|to_class_name == "Component" %}
			<a href="/components/{{ result.object.name|iriencode }}">
			{% else %}
			<a href="/footprints/{{ result.object.name|iriencode }}">
			{% endif %}
				<img src="{% thumbnail component.image|default:"static/placeholder.png" 30x30 %}" alt="{{ result.object.name }} thumbnail" /></a>
		</td>
		<td>
			{% if result.object|to_class_name == "Component" %}
			<a href="/components/{{ result.object.name|iriencode }}">{{ result.object.name }}</a>
			{% else %}
			<a href="/footprints/{{ result.object.name|iriencode }}">{{ result.object.name }}</a>
			{% endif %}
		</td>
		<td>
			{{ result.object.description }}
		</td>

	</tr>
{% empty %}
<p>No results found.</p>
{% endfor %}
<table>

{% if page.has_previous or page.has_next %}
<div>
	{% if page.has_previous %}<a href="?q={{ query }}&amp;models={{ models }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
	|
	{% if page.has_next %}<a href="?q={{ query }}&amp;models={{ models }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
</div>
{% endif %}
{% endblock %}
{# vim: set ft=htmldjango.html : #} 
