{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
<div id="lib_detail" style="width:1000">
	<div id="lib_img" style="float:left;">
		{% if not component.image %}
		<img src="{% thumbnail "static/placeholder.png" 300x300 %}" alt="" />
		{% else %}
		<a href="{{ component.image.url }}" >
			<img src="{% thumbnail component.image 300x300 %}" alt="" />
		</a>
		{% endif %}
	</div>
	<div id="lib_name">{{ component.name }} </div>
</div>
{% endblock %}
{# vim: set ft=htmldjango.html : #}
